h1 {text-decoration: underline;}
p {background-color: blue;
border-style: solid;}
img {
  display: block;
  width: 100%;
  
}
#column_one {
float: left;
width: 39%; padding: 5%;
border-style: ridge;
border-color: blue;

}

#column_three {
  padding 5%;
}
